<configuration>
  <system.webServer>
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\Users\vince\OneDrive\Desktop\Nyati_flask\.venv\Scripts\python.exe"
                  arguments="C:\Users\vince\OneDrive\Desktop\Nyati_flask\serve.py"
                  stdoutLogEnabled="true"
                  stdoutLogFile="C:\Users\vince\OneDrive\Desktop\Nyati_flask\httpplatform-stdout"
                  startupTimeLimit="60">
    </httpPlatform>
  </system.webServer>
</configuration>
