<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
<!--  CSS Supporting FIles  -->
<link href="../static/files/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/files/css/lightslider.css">
<link rel="stylesheet" href="../static/files/css/style.css">
<!--  JS  Supporting FIles    -->
<script src="../static/files/js/bootstrap.bundle.min.js"></script>
<script src="../static/files/js/jquery.js"></script>
<script src="../static/files/js/lightslider.js"></script>
<script src="../static/files/js/script.js"></script>




</head>
<body>
    <section>
        <div class="container-fluid">
        <div class="footer">
            <section class="bg-secondary border-bottom ">
                <br>
                <section class=" bg-secondary mt-1 p-2">
        
                    <div class="text-white text-center">
                        <h4>About us</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eum eveniet eius eaque
                            fuga iusto commodi perspiciatis provident nam sit dolorem porro ipsum, dolor maxime
                            sapiente.</p>
                    </div>
        
                    <p class="text-center">Developed by Owen</p>
                    <p class="text-center">Copyright &copy;2023</p>
                </section>
        
            </section>
        
        </div>
        
        </div>
    </section>




</body>
</html>